<h3>Follower Users</h3>
<table class="table">
  <% @user.follower_user.each do |user| %>
  <tr>
    <th><%= attachment_image_tag user, :profile_image, :fill, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %></th>
    <th><%= user.name %></th>
    <th><%= "フォロー数: #{user.follower.count}" %></th>
    <th><%= "フォロワー数: #{user.followed.count}" %></th>
    <th>
      <% unless user == current_user %>
      <% if current_user.following?(user) %>
      <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
      <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <% end %>
    </th>
    <th><%= link_to "Show", user_path(user.id) %></th>
  </tr>
  <% end %>
</table>